<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>科研计算小软件</Name>
    <Version>1.0.0</Version>
    <Title>科研计算小软件</Title>
    <Publisher>@KLOCC</Publisher>
    <StartMenuDir>calApp</StartMenuDir>
    <TargetDir>@HomeDir@/IfwExamples/licenseagreement</TargetDir>
      <RemoteRepositories>
       <Repository>
               <Url>https://raw.githubusercontent.com/dushenda/ReleaseApp/master/repository/</Url>
               <Enabled>1</Enabled>
               <DisplayName>在线更新安装</DisplayName>
       </Repository>
      </RemoteRepositories>
</Installer>
